## Analysis of basketball Tip offs

Below is an intial exploratory analysis of basketball tipoffs and the factors affecting each result. The dataset provided specifically focuses on the 2017-2018 season. This notebook will examine the data and then attempt to build a model whereby predictions for predictions can be made for future tip offs.

## Import Dependencies and datasets

What I've done is uploaded both sheets as seperate data frames and then combined both files to created a new dataframe combined which contains all the records together. This will be done by importing the pandas module.

In [87]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
Tipoffs = pd.read_excel("Basketball_Tipoffs.xlsx", sheet_name = "Tipoffs")
Players = pd.read_excel("Basketball_Tipoffs.xlsx", sheet_name = "Players")

In [66]:
Tipoffs.head()

        Date Home Away     Home Player       Away Player Winner
0 2017-10-17  CLE  BOS      Kevin Love        Al Horford    BOS
1 2017-10-17  GSW  HOU   Zaza Pachulia      Clint Capela    HOU
2 2017-10-18  DET  CHA  Andre Drummond     Dwight Howard    CHA
3 2017-10-18  IND  BKN    Myles Turner    Timofey Mozgov    IND
4 2017-10-18  ORL  MIA  Nikola Vucevic  Hassan Whiteside    MIA

In [67]:
Players.head()

           Player  Age  Height (Inches)  Weight (Lbs)             Country
0      Al Horford   32               82           245  Dominican Republic
1    Al Jefferson   33               82           280                 USA
2        Alex Len   25               85           250             Ukraine
3    Amir Johnson   31               81           240                 USA
4  Andre Drummond   25               83           279                 USA

In [68]:
homePlayers = Players.rename(columns={'Player': 'homePlayer', 'Age': 'homeAge', 'Height (Inches)': 'homeHeight', 'Weight (Lbs)': 'homeWeight', 'Country': 'homeCountry'})
awayPlayers = Players.rename(columns={'Player': 'awayPlayer', 'Age': 'awayAge', 'Height (Inches)': 'awayHeight', 'Weight (Lbs)': 'awayWeight', 'Country': 'awayCountry'})

carry = pd.merge(Tipoffs, homePlayers, left_on='Home Player',right_on ='homePlayer', how='inner')
combined = pd.merge(carry, awayPlayers, left_on='Away Player',right_on ='awayPlayer', how='inner')

combined = combined.drop(["Home Player", "Away Player"], axis=1)
combined.head()

,Date,Home,Away,Winner,homePlayer,homeAge,homeHeight,homeWeight,homeCountry,awayPlayer,awayAge,awayHeight,awayWeight,awayCountry
0,2017-10-17,CLE,BOS,BOS,Kevin Love,30,82,251,USA,Al Horford,32,82,245,Dominican Republic
1,2018-01-27,GSW,BOS,BOS,Zaza Pachulia,34,83,270,Russia,Al Horford,32,82,245,Dominican Republic
2,2017-12-10,DET,BOS,DET,Andre Drummond,25,83,279,USA,Al Horford,32,82,245,Dominican Republic
3,2017-12-18,IND,BOS,BOS,Myles Turner,22,83,250,USA,Al Horford,32,82,245,Dominican Republic
4,2017-11-05,ORL,BOS,BOS,Nikola Vucevic,27,84,260,Montenegro,Al Horford,32,82,245,Dominican Republic

## Data Exploration:
1) Most common winner

2) Home/Away game influence

3) Age, weight, country influence

In [93]:
df2 = combined.groupby(['Winner']).size()
df2

Winner
ATL    43
BKN    36
BOS    48
CHA    49
CHI    40
CLE    25
DAL    17
DEN    30
DET    55
GSW    43
HOU    40
IND    24
LAC    49
LAL    47
MEM    42
MIA    39
MIL    42
MIN    44
NOP    51
NYK    49
OKC    58
ORL    33
PHI    57
PHX    28
POR    52
SAC    37
SAS    53
TOR    46
UTA    47
WAS    67
dtype: int64

## Data exploration

Looking at the results above it  would make